@define-color background #1D2021;
@define-color second-background #3C3836;
@define-color text #BDAE93;
@define-color focused #FBF1C7;
@define-color focused-darker #F2E5BC;
@define-color borders #AF5A25;
@define-color color1 #939393;
@define-color color2 #8D7AAE;
@define-color color3 #3F3F3F;
@define-color color4 #545454;
@define-color urgent #CC241D;

@define-color orange-color #D65D0E;
@define-color gray-color #3C3836;
@define-color purple-color #8F3F71;
@define-color green-color #79740E;
@define-color red-color #9D0006;
@define-color blue-color #076678;
@define-color aqua-color #427B58;

@define-color hover-gray #D5C4A1;

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 20px;
  margin: 0;
  padding: 0;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 5px;
}

window#waybar {
  background-color: transparent;
  border-bottom: 0;
  color: @text;
  background-color: @background;
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* .modules-left { */
/*   margin: 5px 0 3px 9px; */
/*   padding: 0 10px 0 10px; */
/*   background-color: @background; */
/*   border: 3px solid @focused; */
/*   border-radius: 0; */ 
/*   box-shadow: 3px 3px 0 0 rgba(26, 26, 26, 1.0); */
/* } */

/* .modules-center { */
/*   margin: 5px 0 3px 0; */
/*   padding: 0 10px 0 10px; */
/*   background-color: @background; */
/*   border: 3px solid @focused; */
/*   border-radius: 0; */
/*   box-shadow: 3px 3px 0 0 rgba(26, 26, 26, 1.0); */
/* } */

/* .modules-right { */
/*   margin: 5px 9px 3px 0; */
/*   padding: 0 10px 0 10px; */
/*   background-color: @background; */
/*   border: 3px solid @focused; */
/*   border-radius: 0; */
/*   box-shadow: 3px 3px 0 0 rgba(26, 26, 26, 1.0); */
/* } */

tooltip {
  background-color: rgba(28, 28, 28, 0.9);
  border: 0px solid @focused;
  border-radius: 0;
  color: @text;
  padding: 2px 2px;
}

tooltip label {
  font-size: 17px;
  padding: 2px 2px;
}

button {
  border: none;
}

#workspaces button {
  padding: 0px 6px;
  margin: 0px 0px 0px 0px;
  background-color: transparent;
  color: @text;
  border-radius: 0;
}

#workspaces button:not(.empty) {
  border-top: 4px solid @aqua-color;
  color: @text;
  background: @background;
}

#workspaces button.empty {
  border-top: 4px solid @gray-color;
  color: @text;
  background: @background;
}

#workspaces button:hover {
  background-color: @second-background;
}

#workspaces button.active {
  color: @focused;
  background: @second-background;
}

#workspaces button.special {
  border-top: 4px solid @purple-color;
  color: @focused;
  background-color: @background;
}

#workspaces button.urgent {
  background-color: @background;
  border-top: 4px solid @red-color;
  color: @text;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#mpris {
  margin: 0 0 0 5px;
  padding: 0 5px;
  border-top: 4px solid @red-color;
  background-color: @background;
  color: @focused;
}

#mpris.playing {
  background-color: @background;
  border-top: 4px solid @aqua-color;
  border-radius: 0;
  color: @focused;
}

#window {
  color: @focused;
  border-top: 4px solid @second-background;
  background-color: @background;
  padding: 0 5px;
}

#network.ethernet {
  color: @text;
  border-top: 4px solid @aqua-color;
}

#network.wifi {
  color: @text;
  border-top: 4px solid @aqua-color;
}

#network.disconnected {
  color: @urgent;
  border-top: 4px solid @red-color;
}

#idle_inhibitor {
  color: @focused-darker;
}

#clock {
  color: @focused;
  border-top: 4px solid @second-background;
  background-color: @background;
  padding: 0px 5px 0px 5px;
}

#custom-language {
  color: @text;
  border-top: 4px solid @orange-color;
  background-color: @background;
  padding: 0px 5px 0px 5px
}

#wireplumber {
  color: @focused-darker;
  border-top:4px solid @purple-color;
  background-color: @background;
  padding: 0px 5px 0px 5px
}

#wireplumber.muted {
  color: @text;
  border-top: 4px solid @purple-color;
  background-color: @background;
  padding: 0px 5px 0px 5px
}

#cpu {
  color: @text;
  border-top: 4px solid @blue-color;
  background-color: @background;
  padding: 0px 5px 0px 5px
}

#memory {
  color: @text;
  border-top: 4px solid @green-color;
  background-color: @background;
  padding: 0px 5px 0px 5px
}

#custom-capslock {
  color: @text;
  border-top: 4px solid @red-color;
  background-color: @background; 
  padding: 0px 5px 0px 5px
}

#tray,
#cpu,
#memory,
#network,
#wireplumber,
#custom-capslock
#custom-clipboard,
#custom-uptime,
#custom-language,
#custom-power,
#custom-bluetooth {
  color: @text;
  padding: 0;
}

#cpu:hover,
#memory:hover,
#wireplumber.muted:hover,
#wireplumber:hover,
#custom-clipboard:hover,
#custom-uptime:hover,
#custom-capslock:hover,
#custom-language:hover,
#custom-power:hover,
#network:hover,
#idle_inhibitor:hover {
  color: @hover-gray;
}

#idle_inhibitor {
  border-top: 4px solid @orange-color;
  padding: 0;
}

#tray {
  color: #FFFFFF;
  border-top: 4px solid @second-background;
  padding: 0;
}

@keyframes blink {
  to {
    background-color: @second-background;
    color: @text;
  }
}
