@define-color background #1D2021;
@define-color background-rgba rgba(29, 32, 33, 0.95);
@define-color second-background #3C3836;
@define-color text #D5C4A1;
@define-color focused #FBF1C7;
@define-color focused-darker #F2E5BC;
@define-color borders #AF5A25;
@define-color color1 #939393;
@define-color color2 #8D7AAE;
@define-color color3 #3F3F3F;
@define-color color4 #545454;
@define-color urgent #CC241D;

@define-color orange-color #D65D0E;
@define-color gray-color #3C3836;
@define-color gray-light-color #504945;
@define-color purple-color #8F3F71;
@define-color green-color #79740E;
@define-color red-color #9D0006;
@define-color blue-color #076678;
@define-color aqua-color #427B58;

@define-color hover-gray #BDAE93;

* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 500;
  font-size: 16px;
  min-height: 20px;
  margin: 0;
  padding: 0;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 5px;
}

window#waybar {
  background-color: @background;
  border-bottom: 0;
  color: @text;
}

window#waybar.empty #window {
  transition: background-color 0.5s;
}

tooltip {
  background-color: rgba(28, 28, 28, 0.9);
  border: 0px solid @focused;
  border-radius: 0;
  color: @text;
  padding: 2px 2px;
}

tooltip label {
  font-size: 17px;
  padding: 2px 2px;
}

button {
  border: none;
}

#workspaces button {
  padding: 0px 5px;
  margin: 0px 0px 0px 0px;
  background-color: transparent;
  color: @text;
  border-radius: 0;
}

#workspaces button:not(.empty) {
  color: @text;
  border-top: 4px solid @aqua-color;
}

#workspaces button.empty {
  color: @text;
  border-top: 4px solid @gray-light-color;
}

#workspaces button:hover {
  background-color: @second-background;
  transition: background-color;
}

#workspaces button.active {
  color: @focused;
  background-color: @second-background;
}

#workspaces button.special {
  color: @focused;
  border-top: 4px solid @purple-color;
}

#workspaces button.urgent {
  color: @text;
  border-top: 4px solid @red-color;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#mpris {
  margin: 0 0 0 5px;
  padding: 0 5px;
  color: @text;
  border-top: 4px solid @red-color;
}

#mpris.playing {
  border-radius: 0;
  color: @text;
  border-top: 4px solid @aqua-color;
}

#window {
  color: @focused;
  padding: 0 5px;
  border-top: 4px solid @gray-light-color;
}

#network.ethernet {
  color: @text;
  border-top: 4px solid @blue-color;
}

#network.wifi {
  color: @text;
  border-top: 4px solid @aqua-color;
}

#network.disconnected {
  color: @urgent;
  border-top: 4px solid @red-color;
}

#idle_inhibitor {
  color: @focused-darker;
  border-top: 4px solid @orange-color;
}

#clock {
  color: @focused;
  border-top: 4px solid @gray-light-color;
}

#custom-language {
  color: @text;
  border-top: 4px solid @orange-color;
}

#wireplumber {
  color: @focused-darker;
  border-top: 4px solid @purple-color;
}

#wireplumber.muted {
  color: @text;
  border-top: 4px solid @gray-light-color;
}

#cpu {
  color: @text;
  border-top: 4px solid @blue-color;
}

#memory {
  color: @text;
  border-top: 4px solid @green-color;
}

#custom-capslock {
  color: @text;
  border-top: 4px solid @red-color;
}

#mpris,
#tray,
#cpu,
#memory,
#network,
#wireplumber,
#custom-capslock
#custom-language {
  color: @text;
  padding: 0;
}

/* #mpris:hover, */
/* #cpu:hover, */
/* #memory:hover, */
/* #wireplumber.muted:hover, */
/* #wireplumber:hover, */
/* #custom-capslock:hover, */
/* #custom-language:hover, */
/* #network:hover, */
/* #idle_inhibitor:hover { */
/*   color: @hover-gray; */
/* } */

#idle_inhibitor {
  padding: 0;
}

#custom-sprt,
#custom-dec1,
#custom-sprt2,
#custom-sprt3,
#custom-split {
  color: @gray-color;
}

#tray {
  color: #FFFFFF;
  padding: 0;
  border-top: 4px solid @gray-light-color;
}

@keyframes blink {
  to {
    background-color: @second-background;
    color: @text;
  }
}
