@define-color background #2D2F2C;
@define-color second-background #303A2F;
@define-color text #DDD5C4;
@define-color borders #637564;
@define-color focused #637564;
@define-color focused2 #90BF80;
@define-color color1 #7699A3;
@define-color color2 #8D7AAE;
@define-color color3 #78997A;
@define-color color4 #404741;
@define-color urgent #B05A5A;

@define-color hover-gray #B0B5A8;

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
}

#custom-openbracket,
#custom-closebracket {
    margin: 0 5px;
}

window#waybar {
    background-color: transparent;
    border-bottom: 0;
    color: @text;
    transition: background-color 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

.modules-left {
    margin: 5px 0 0 8px;
    padding: 0 10px 0 10px;
    background-color: @background;
    border: 3px solid @focused;
    border-radius: 9px; 
}

.modules-center {
    margin: 5px 0 0 0;
    padding: 0 10px 0 10px;
    background-color: @background;
    border: 3px solid @focused;
    border-radius: 9px;
}

.modules-right {
    margin: 5px 8px 0 0;
    padding: 0 10px 0 10px;
    background-color: @background;
    border: 3px solid @focused;
    border-radius: 9px;
}

tooltip {
    background-color: rgba(45, 47, 44, 0.9);
    border: 3px solid @focused;
    border-radius: 9px;
    color: @text;
    padding: 15px 12px;
}

tooltip label {
    font-size: 17px;
}

button {
    border: none;
}

#workspaces button {
    padding: 0 2px;
    background-color: transparent;
    color: @text;
    border-radius: 0;
}

#workspaces button:hover {
    background-color: @second-background;
}

#workspaces button.active {
    color: @focused2;
    background-color: @second-background;
}

#workspaces button.urgent {
    background-color: @urgent;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#mpris {
    margin: 0 0 0 5px;
    padding: 0 5px;
    background-color: @color4;
    color: @text;
}

#mpris.playing {
    background-color: @color3;
    border-radius: 2px;
    color: @background;
}

#window {
    padding: 0 5px;
}

#network.ethernet {
    color: @text;
}

#network.wifi {
    color: @color1;
}

#network.disconnected {
    color: @urgent;
}


#clock,
#tray,
#cpu,
#memory,
#network,
#wireplumber,
#custom-uptime,
#custom-language,
#custom-power,
#custom-bluetooth {
    padding: 0;
}

#clock:hover,
#cpu:hover,
#memory:hover,
#wireplumber:hover,
#custom-uptime:hover,
#custom-language:hover,
#custom-power:hover,
#network:hover,
#idle_inhibitor:hover,
#backlight:hover {
    color: @hover-gray;
}

#custom-power {
    font-size: 20px;
}

#idle_inhibitor {
    padding: 0;
}

#tray {
    padding: 0;
}

@keyframes blink {
    to {
        background-color: @second-background;
        color: @text;
    }
}
